{
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-private-methods"
    ],
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        [
            "@babel/preset-react",
            {
                "runtime": "automatic"
            }
        ],
        [
            "babel-preset-vite",
            {
                "env": true, // defaults to true
                "glob": false // defaults to true
            }
        ],
        "@babel/preset-typescript"
    ]
}